.team-conatiner {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2em;
  background: rgba(128, 128, 128, 0.342);
  border-radius: 1em;
  width: 90%;
  max-height: 75%;
}
.team-logo {
  margin: 1em;
  justify-self: center;
}
.team-name {
  margin: 1em;
  color: white;
  font-size: 4em;
}
.players-container {
  margin: 1em;
  grid-row: 1 / -1;
  grid-column: 3;
}
.players-header {
  color: white;
  background-color: rgba(0, 0, 0, 0.664);
  border: 0.3em solid grey;
  margin: 0.2em;
  display: flex;
  justify-content: center;
  border-radius: 0.5em;
}
